/* Container styles */

h1 {
    width: 50%;
    text-align: center;
    margin: 20px auto;
}
.small-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* Cart item info styles */
.cart-info {
    display: flex;
    align-items: center;
}

.cart-info div {
    flex-grow: 1;
}

.cart-info p {
    margin: 0;
    font-size: 1.1em;
}

.cart-info small {
    font-size: 0.9em;
    color: #888;
}

/* Remove button style */
#addToCartForm {
    margin: 0;
}

#addToCartForm input[type='submit'] {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin: 20px;
}

#addToCartForm input[type='submit']:hover {
    background-color: #c0392b;
}

/* Total price styles */
.total-price {
    margin: 20px 0 20px auto;
    width: 25%;
}

.total-price table {
    width: 100%;
    border-collapse: collapse;
}

.total-price td {
    padding: 8px;
}

.total-price td:first-child {
    font-weight: bold;
}

.total-price td:last-child {
    font-weight: bold;
}

/* Checkout link style */
a.checkout-link {
    display: block;
    width: 150px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #e79b0d;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a.checkout-link:hover {
    background-color: #ffcc00;
}

.checkout-button {
    background-color: #e79b0d;
    color: white;
    padding: 14px 20px;
    margin: 15px auto 30px auto;
    border: none;
    cursor: pointer;
    width: 40%;
    display: block;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.checkout-button a {
    color: white;
    text-decoration: none;
}

.checkout-button:hover {
    background-color: #ffcc00;
}

.cart-is-empty{
    text-align: center;
    margin-top: 100px;
}
