* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin: 30px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
    width: 75%;
}

.container form {
    width: 50%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-left: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.total-section {
    display: block;
    position: relative;
    margin: 0 auto;
    height: 50%;
    width: 30%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    font-size: 1.2em;
}

fieldset {
    border: none;
}

label {
    font-weight: bold;
}

.container input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #e79b0d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container input[type="submit"]:hover {
    background-color: #ffcc00;
}

.total-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.total-label {
    font-weight: bold;
}