body{
  height: 100vh;

  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 60px 1fr;

}
.header{
  background-image: url("../Photos/Custback2.jpg");
  background-color: white;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  font-size: larger;
  font-weight: bold;


}

.sidebar{
  background-image: url("../Photos/Custback2.jpg");
  color: whitesmoke;
  font-size: larger;
  font-weight: bolder;
  grid-column: 1 / 2;
  grid-row: 2 / 3;

}

.main{
  background-image: url("../Photos/CustBack.jpg");
  background-size: cover;
  background-color: #222222;
  grid-column:  2 / 3;
  grid-row:  2 / 3;
  display: grid;
  padding: 25px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:1fr 1fr 1fr ;
  grid-template-areas: "c1 c2 c3";

  gap: 20px;


}
.card{
  background-color: ghostwhite;
  border-radius: 10px;

}


h1{
  background-color: burlywood;
}

@media (max-width: 925px) {
  .main{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,200px);
  }

}

