
.container {
  padding: 25px;
}

.order-area{

}

.order-card {
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #888888;
}

.card{
  background-color: #d0b868;
  border-radius: 25px;
  color: white;

}
