body{
  height: 100vh;
  background-image: url("../Photos/klmdasdh.jpg");
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 60px 1fr;


}
.header{
  background-image: url("../Photos/klmdasdh.jpg");
  background-color: white;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  font-size: larger;
  font-weight: bold;
  color: white;


}

.sidebar{
  background-image: url("../Photos/klmdasdh.jpg");
  background-color: #cccccc;
  grid-column: 1 / 2;
  grid-row: 2 / 3;

}

.main{
  background-color: cornflowerblue;
  background-image: url("../Photos/headlight.jpg");
  grid-column:  2 / 3;
  grid-row:  2 / 3;
  display: grid;
  padding: 25px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:1fr 1fr 1fr ;
  grid-template-areas: "c1 c2 c3";

  gap: 20px;


}
.card{
  background-color: #d0b868;
  background-image: url("../Photos/klmdasdh.jpg");
  border-radius: 25px;
  color: white;

}
@media (max-width: 925px) {
  .main{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,200px);
  }

}
h1{
  background-color: burlywood;
}



h{
  font-size: larger;
  font-weight: bold;
}
