* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title {
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 30px;
    color: #333;
}

.container {
    padding: 25px;
    border-radius: 15px;
    width: 75%;
    margin: 0 auto;
}

.order-area {
    border: 1px solid grey;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 7px rgba(0, 0, 0.03);
}


.order-area h3 {
    text-align: center;
    margin-top: 0;
}

.filter-area form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-card {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
}

.order-card h2,
.order-card h3 {
    margin: 0;
    text-align: left;
}

.order-card input[type='submit'] {
    margin: 15px 0 0 0;
}

.filter-area {
    margin-bottom: 20px;
}

.filter-label {
    margin: 0 10px;
}

.filter-input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.divider-span {
    font-weight: bold;
    color: #888;
    padding-left: 10px;
}

input[type="submit"] {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #e79b0d;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    margin-left: 10px;
    text-align: center;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #ffcc00;
}

a[href="load-all-orders-servlet"] {
    color: #333;
    text-decoration: none;
}

a[href="load-all-orders-servlet"]:hover {
    text-decoration: underline;
}
