/* page reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root {
    scroll-behavior: smooth;
}

.content-container {
    margin-top: 40px;
}

/* deal banner styles */

.deal-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e79b0d;
    height: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
}

.banner-info {
    text-align: center;
}

.banner-info .info {
    font-size: 1rem;
}

.banner-info .fine-print {
}

.introduction {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
}

.introduction p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}

/* top category styles */

.topCat-container {
    display: block;
    width: 75%;
    margin: 30px auto;
}

.topCat-container h2 {
    position: relative;
    margin-bottom: 40px;
}

.topCat-container h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    bottom: -5px;
    left: 0;

}

.top--cat {
    display: grid;
    grid-template-columns: auto auto auto;
}

.frame {
    position: relative;
    width: 350px;
    height: 250px;
    margin: 2% auto;
    border: 1px solid #000000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.frame:hover {
    transform: scale(1.1);
}

.frame img {
    max-width: 100%;
    height: 90%;
    display: block;
    margin: auto;
}

.pic-text {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    overflow: hidden;
}

/* deal container styles */

.deal-container {
    display: block;
    width: 75%;
    margin: 30px auto;
}

.deal-container h2 {
    margin-bottom: 40px;
    position: relative;

}

.deal-container h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    bottom: -5px;
    left: 0;
}

.deal-links {
    display: grid;
    grid-template-columns: auto auto auto;
}

.deal-info {
    position: relative;
    width: 350px;
    height: 250px;
    margin: 2% auto;
    border: 1px solid #000000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.deal-info:hover {
    transform: scale(1.1);
}

.deal-info img {
    width: 350px;
    height: 250px;
    display: block;
}

/* carousel styles */
.carousel-container {
    display: block;
    width: 75%;
    margin: 30px auto;
    position: relative;
    overflow: hidden;
}

.carousel-container h2 {
    margin-bottom: 40px;
    position: relative;
}

.carousel-container h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    bottom: -5px;
    left: 0;
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.item-list {
    display: flex;
    width: auto;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-bottom: 20px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.item-list::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.item-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.item {
    width: 320px;
    height: 250px;
    flex: 0 0 auto;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #e79b0d;
    color: #000000;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    cursor: pointer;
    z-index: 1;
}

.prev-btn {
    background-image: url("../brandLogos/leftarrow.png");
    background-position: center;
    background-size: cover;
    left: 5px;
}

.next-btn {
    background-image: url("../brandLogos/rightarrow.png");
    background-position: center;
    background-size: cover;
    right: 5px;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: #ffcc00;
}

/* style for scroll to top button */
.scrollTop {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-image: url("../brandLogos/upArrow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color:  #e79b0d;
    opacity: 0.7;
    cursor: pointer;
    z-index: 9999999;
    scroll-behavior: smooth;
}

.scrollTop:hover {
    opacity: 0.8;
}

.scrollTop:focus {
    opacity: 0.9;
}

.scrollTop:active {
    opacity: 1;
}

/* sign up container styles */
.signup-container {
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
}

.signup {
    max-width: 600px;
    margin: 0 auto;
}

.signup p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.signup a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e79b0d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.signup a:hover {
    background-color: #ffcc00;
}


