* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

.login-area {
  width: 300px;
  padding: 16px;
  background-color: white;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 4px;

}
.container {
  height: 77%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #e79b0d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
.Split {
  display: flex;
  justify-content: space-between;
}

.create-account-btn {
  background-color: #e79b0d;
  color: white;
  padding: 14px 20px;
  margin: 8px auto;
  border: none;
  cursor: pointer;
  width: 86%;
  display: block;
  text-decoration: none;
  text-align: center;
}

#title{
  text-align: center;
  margin: 30px;
}



.divider {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.divider-span {
  background:#fff;
  padding:0 10px;
}