* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-summary {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
}

.order-summary h2, .order-summary h3, .order-summary p {
    margin: 10px 0;
}

.order-summary a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #e79b0d;
    border-radius: 10px;
    color: #ffffff;
    margin: 20px auto 0;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.order-summary a:hover {
    background-color: #ffcc00;
}

.thank-you-message {
    font-size: 24px;
    color: #008000;
    margin-top: 20px;
}

.customer-info {
    text-align: left;
    margin-top: 30px;
}

.customer-info p {
    margin-bottom: 5px;
}

.related-products {
    margin-top: 30px;
}

.related-products h3 {
    margin-bottom: 10px;
}
