

*{
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}
#xontain{
  min-height: 60%;

}
#main{
  overflow: auto;
  padding-bottom: 100px;

}
footer{
  background-image: url("../Photos/gears.jpg");
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 110px;
  margin-top: -8%;
  padding: 0;
}

.Split{
  display: flex;
  justify-content: space-between;
  color: antiquewhite;
  background-color: black;
  border-radius: 4px;
  font-family: Monaco;
}
.Split a{
  color: antiquewhite;
}


.footnav{
  margin: 30px 0;
}
.footnav ul{
  display: flex;
  justify-content: center;
}

.footnav ul li a{
  color: antiquewhite;
  margin: 20px;
  font-size: 1.3em;
}
.footbottom{
  background-color: #222222;
  padding: 20px;
  text-align: center;
}
.footbottom p{
  color: white;
}
