* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-container{
  display: grid;
  text-align: center;
  padding: 15px;
  overflow: hidden;
  margin-top: auto;
  position: sticky;
  bottom: 0;
  background-color: black;
  color: white;
}

.footer-link{
  color: white;
  padding: 10px;

}
.footer-top{
  overflow: hidden;
  margin-bottom: 10px;
}

.footer-bottom {
  overflow: hidden;
}


