.productImage {
    width: 200px;
    height: 200px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product-number-text{
    color: grey;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.title {
    color: #333;
    text-align: center;
    
}

.grid-container {
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 50%;
    vertical-align: top;
}

.grid-item {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-area{
    height: 2000px;
}
label {
    margin-right: 5px;
}

.filter-area{
    display: inline-block;
    width: 25%;
    padding-right: 20px;
    height: auto;
}
.filter-option {
    color: black;
    text-decoration: none;
}

.filter-row {
    margin-left: 40%;
    align-content: center;
    border-radius: 4px;
    border: 1px solid rgba(102, 102, 102, 0.25);
    background-color: #fff;
    padding: 12px;
}

.filter-drop-down {
    height: 35px;
    width: 95px;
    margin-right: 30px;

}

.filter-input {
    height: 35px;
    width: 220px;
    margin-right: 30px;
}

.filter-submit {
    height: 35px;
    width: 75px;

    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.car-type-selection-area{
    border: 1px solid rgba(102, 102, 102, 0.25);
    background-color: white;
    margin-left: 26%;
    height: 125px;
    width: 47%;
    margin-top: 50px;
    margin-bottom : 25px;
    border-radius: 5px;
    padding: 15px;
    padding-left: 55px;
}

.car-select{
    margin-top: 20px;
}
.car-select-label{
    font-size: 19px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.add-to-cart-btn {

    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type=submit]:hover {
    background-color:  #0056b3;
}

.quantity-input {
    width: 75px;
    margin-right: 115px;
}
