body {
  font-family: Arial, sans-serif;
}
.container {
  width: 300px;
  padding: 16px;
  background-color: white;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid black;
  border-radius: 4px;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
.Split{
  display: flex;
  justify-content: space-between;
}


.navbar {
  background-color: #333;
  position: relative;
  z-index: 999;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: black;
}

.navbar li {
  display: inline-block;
}

.navbar li a {
  color: white;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

/* Style the dropdown menu */
.navbar ul ul {
  position: absolute;
  top: 100%;
  display: none;
}

.navbar ul ul li {
  display: block;
}

.navbar li:hover ul {
  display: block;
}

/* Change the background color of dropdown links on hover */
.navbar ul ul li a:hover {
  background-color: #555;
}
